<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/shop_homepage.css" rel="stylesheet">

</head>

<body style="padding-top: 56px">

<%- include("partials/nav")%>

<!-- Page Content -->
<div class="container" style="min-height: calc(100vh - 175px)">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Shop Name</h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="exampleSelect">Select</label>
                    <select class="form-control" id="exampleSelect">
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="textArea">Message</label>
                    <textarea class="form-control" id="textArea" rows="3"></textarea>
                </div>
            </form>

            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" style="position: absolute; width: 100vw; bottom: 0;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>