<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/shop_homepage.css" rel="stylesheet">

</head>

<body style="min-height: 100vh;">

<%- include("partials/nav")%>

<div class="container" style="height: calc(100% - 120px); padding-top: 10%;">
    <h1 class="my-4">MyShop Registration</h1>
    <%if(typeof(errors)!=="undefined"){%>
        <%if(errors.length !== 0) {%>
            <div style="margin: 25px; background-color: rgba(255,101,80,.2); border: red solid 1px; border-radius: 5px;">
                <h2 style="color: darkred;">Errors</h2>
                <%for(let i = 0; i < errors.length; i++){%>

                    <br><span style="color: darkred;"><%= errors[i] %></span>

                <%}%>
            </div>
        <%}%>
    <%} if(typeof(success)!=="undefined") {%>
        <%if(errors.length !== 0) {%>
            <div style="margin: 25px; background-color: rgba(50,168,82,.4); border: green solid 1px; border-radius: 5px;">
                <h2 style="color: green;">Success!</h2>
                <%for(let i = 0; i < success.length; i++){%>

                    <br><span style="color: green;"><%= success[i] %></span>

                <%}%>
            </div>
        <%} else {%>
            <div style="margin: 25px; background-color: rgba(50,168,82,.4); border: green solid 1px; border-radius: 5px;">
                <h2 style="color: green;">Success! Registration complete.</h2>
            </div>
        <%}%>
    <%}%>
    <%- include("partials/regform")%>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>